<% sender = message.user == current_user %>

<!-- the message will display on the right side of the chat
     if the `sender` class is present -->
<div class="message <%= 'sender' if sender %>">
  <div class="message-content">
    <%= cl_image_tag message.user.photos.first.key, alt: "#{message.user.name}'s avatar", class: 'message-avatar'%>
    <p> <%= message.content %></p>
  </div>
  <div class="message-infos">
    <p><%= sender ? current_user.name : message.user.name %> at <%= message.created_at.strftime("%H:%M") %></p>
  </div>
</div>
