<h1>Filters for pets</h1>

  <%= simple_form_for :search, url: pets_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :age, input_html: {value: ""} %>
  <%= f.input :race, input_html: {value: ""} %>
  <%= f.input :sexe, input_html: {value: ""} %>

<h1>Filters for users</h1>

  <%= f.input :user_name, input_html: {value: ""} %>
  <%= f.input :user_age, input_html: {value: ""} %>
  <%= f.input :user_address, input_html: {value: ""} %>
  <%= f.input :user_orientation, input_html: {value: ""} %>
  <%= f.input :user_gender, input_html: {value: ""} %>
  <h3>For a walk ?</h3>
  <%= f.check_box :user_walk %>
  <h3>For more ?</h3>
  <%= f.check_box :user_more%>
  <p><%= f.submit "Search", class: "btn btn-primary" %> </p>

  <% end %>
