<div class='wrapper-form'>
  <%= simple_form_for :search, url: pets_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <h1 class='pet_name mg-bt'>Filters for pets</h1>
    <%= f.input :age, collection: ['0 - 4 ans', '4 - 8 ans', '8 ans et +'], input_html: {value: ""}, required: false, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'} %>
    <%= f.input :race, collection: Pet.all.pluck(:race).sort ,input_html: {value: ""}, required: false, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'} %>
    <%= f.input :sexe, collection: ['Male', 'Femelle'], input_html: {value: ""},required: false, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'} %>

    <h1 class='pet_name mg-bt mgtoppp'>Filters for users</h1>

    <%= f.input :user_age, collection: ['18 - 25 ans', '25 - 35 ans', '35 - 45 ans', '45 ans et +'], input_html: {value: ""}, required: false, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'}, label: 'Age' %>
    <%= f.input :user_address, input_html: {value: ""}, required: false, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'}, label: 'Address' %>
    <%= f.input :user_orientation, collection: ['Hétero', 'Homo'], input_html: {value: ""}, required: false, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'}, label: 'Orientation' %>
    <%= f.input :user_gender, collection: ['Homme', 'Femme'], input_html: {value: ""}, required: false, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'}, label: 'Gender' %>
    <div class = 'tick-desgin'>
      <%= f.check_box :user_walk %>
      <h3 class="tick-d">For a walk ?</h3>
    </div>
    <div class = 'tick-desgin'>
      <%= f.check_box :user_more%>
      <h3 class="tick-d">For more ?</h3>
    </div>
    <p><%= f.submit "Search", class: "btn btn-primary w-100 my-3 btnstyle nmtop" %> </p>
  <% end %>
</div>
