
<div class="w-100 d-flex">
  <%= image_tag "patte2.jpg", class: "patte2"%>
</div>

<% if @pets.length == 0 %>
 <h1 class="flexx nomatch"><%= "Sorry there is no more pets to show :(" %></h1>

<% end %>

<div class="tinder" data-controller="swipe-pets" data-swipe-pets-ids-value="<%= @pets.map(&:id) %>" data-swipe-pets-background-value="<%= image_path "background.jpg" %>">
  <div class="tinder--cards">
    <% @pets.each do |pet| %>
      <div class="tinder--card styledborder" data-swipe-pets-target="card" data-id="<%= pet.id %>">
        <div class="tinder--status">
          <i class="fa-solid fa-xmark"></i>
          <i class="fa fa-heart"></i>
        </div>
        <%= cl_image_tag pet.photos.first.key %>
        <h3><%= pet.name %></h3>
        <p class="tinder--card-subtitle"><%= pet.race %> | <%= pet.sexe.capitalize %></p>

        <%# <p class="tinder--card-description"> %>
        <%#= pet.description %>
        <%# </p> %>

        <div class="tinder--card-user">
          <%= cl_image_tag pet.user.photos.first.key %>
          <div class="user-infos">
            <p class="name"><%= link_to "#{pet.user.name}", user_path(pet.user), onclick: "console.log('hello')" %></p>
            <p class="infos">TODO Ville | <%= pet.user.age %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
    <%# <h1 class="cul">  Plus de chiennes aux alentours, reviens plus tard ou change tes parametres</h1> %>
  <div class="tinder--buttons">
    <%#= link_to "filters", pets_filtres_path, class: "btn btn-primary filters" %>
    <button id="nope" data-swipe-pets-target="nopeBtn" data-action="click->swipe-pets#disliked">
      <i class="fa-solid fa-xmark rd"></i>
    </button>
    <%= link_to pets_filtres_path, class: "btn btn-primary filters", id: "filter" do %>
      <i class="fa-solid fa-bars-progress"></i>
    <% end %>
    <button id="love" data-swipe-pets-target="likeBtn" data-action="click->swipe-pets#liked">
      <i class="fa-regular fa-heart gr"></i>
    </button>
  </div>
</div>
