

<div class='wrapper-form'>
  <%= simple_form_for @pet do |f| %>
    <%= f.input :name , input_html: {value: ""}, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'} %>
    <%= f.input :age, input_html: {value: ""}, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'} %>
    <%= f.input :race,input_html: {value: ""}, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'} %>
    <%= f.input :sexe, collection: ["Male", "Femelle"], input_html: {value: ""}, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'} %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, input_html: {value: ""}, wrapper_html: { class: 'design-input' }, label_html: {class: 'design-label-form'} %>
    <p><%= f.submit "Create your pet !", class: "btn btn-primary w-100 my-3 btnstyle nmtop" %></p>
  <% end %>
</div>

