<%= simple_form_for @pet do |f| %>
<%= f.input :name %>
<%= f.input :race %>
<%= f.input :age %>
<%= f.input :photos, as: :file, input_html: { multiple: true } %>
<%= f.input :description %>
<%= f.input :sexe, collection: %w[male female] %>
<%= f.submit %>
<% end %>

<button class ='btn btn-danger'>
<%= link_to 'Back to your profile !', user_path(current_user) %>
</button>
