
<div class="w-100 d-flex">
  <%= image_tag "patte2.jpg", class: "patte2"%>
</div>

<div class="">
  <div class="px-4 flex-column">
    <%= cl_image_tag @pet.photos.first.key, class: "dog_image", alt: "Responsive image" %>
    <div class="my-4">
      <h2 class="pet_name"><strong><%= @pet.name %></strong></h2>
      <div class="d-flex">
        <div class="me-2">
          <p><i class="fa-solid fa-cake-candles pe-2"></i><%= pluralize(@pet.age, "an") %> </p>
        </div>
        <p>| <em><%= @pet.race %></em></p>
      </div>
      <p><%= @pet.description %></p>
      <% unless @pet.user == current_user %>
        <div class="d-flex align-items-center">
          <%= link_to user_path(@pet.user) do %>
            <%= cl_image_tag @pet.user.photos.first.key, class: "avatar_show pet_user_border me-2" %>
          <% end %>
          <div>
            <div>
            <strong><%= @pet.user.name %></strong>
            </div>
            <div class="pet_user_size">
              <%= @pet.user.age %> ans
            </div>
          </div>
        </div>
      <% end %>
    </div>


      <% if policy(@pet).edit? %>
      <%= link_to "Modifier mon animal", edit_pet_path(@pet), class: "btn btn-primary w-100 my-3 btnstyle nmtop"%>
      <% end %>

    <div>

  </div>
</div>
