<%= link_to "filters", filtres_path %>
<div class="d-flex">

  <div>
    <%= cl_image_tag @pet.photos.first.key, class: "dog_image", style: "width: 100%; height: 429.83px; object-fit:cover;
    ", alt: "Responsive image" %>
    <div class="m-5">
      <h2 class="pet_name"><strong><%= @pet.name %></strong></h2>
      <p><i class="fa-solid fa-cake-candles pe-2"></i><%= pluralize(@pet.age, "an") %></p>
      <p><em><%= @pet.race %></em></p>
      <p><%= @pet.description %></p>
      <div class="d-flex align-items-center">
        <%= cl_image_tag @pet.user.photos.first.key, class: "avatar_show pet_user_border me-2" %>
        <div>
          <div>
            Fille d'<strong><%= @pet.user.name %></strong>
          </div>
          <div class="pet_user_size">
            <%= @pet.user.age %> ans
          </div>
        </div>
      </div>
    </div>

      <% if policy(@pet).edit? %>
      <%= link_to "Edit this pet", edit_pet_path(@pet) %> |
      <% end %>
      <%= button_to "Destroy this pet", @pet, method: :delete if policy(@pet).destroy? %>
    <div>
  </div>
</div>
