<div class="d-flex">
  <div>
    <%= cl_image_tag @user.photos.first.key, class: "dog_image", style: "width: 100%; height: 429.83px; object-fit:cover;
    ", alt: "Responsive image" %>
    <div class="m-5">
      <h2 class="pet_name"><strong><%= @user.name %></strong></h2>
      <p><i class="fa-solid fa-cake-candles pe-2"></i><%= pluralize(@user.age, "an") %></p>
      <p><%= @user.description %></p>
      <div class="d-flex align-items-center">
          <%= link_to pet_path(@user.pets.first) do %>
            <%= cl_image_tag @user.pets.first.photos.first.key, class: "avatar_show pet_user_border me-2" %>
          <% end %>
        <div>
          <div>
            <strong><%= @user.pets.first.name %></strong>
          </div>
          <div class="pet_user_size">
            <%= @user.pets.first.age %> ans
          </div>
        </div>

     <div class="d-flex align-items-center mgleft">
          <%= link_to pet_path(@user.pets.second) do %>
            <%= cl_image_tag @user.pets.second.photos.first.key, class: "avatar_show pet_user_border me-2" %>
          <% end %>
        <div>
          <div>
            <strong><%= @user.pets.second.name %></strong>
          </div>
          <div class="pet_user_size">
            <%= @user.pets.second.age %> ans
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
