<div class="navbar navbar-expand-sm navbar-tinpets">
  <div class="container-fluid">
    <%= link_to matches_path, class: "navbar-chat" do %>
      <%= image_tag "icons/chat.png" %>
    <% end %>
    <div class="navbar-chat-text"><%= image_tag "icons/chat-text.png" %></div>
    <div class="circle-nav">
      <%= link_to user_path(current_user) do %>
        <%= cl_image_tag current_user.photos.first.key, class: "avatar_navbar" %>
      <% end %>
    </div>
    <%= link_to pets_path, class: "navbar-swipe" do %>
      <%= image_tag "icons/swipe.png" %>
    <% end %>
    <div class="navbar-swipe-text"><%= image_tag "icons/swipe-text.png" %></div>
  </div>
</div>
