
<div style="background-image: url(<%= image_path "background.jpg"%>)", class="img-background">
    <%= image_tag "patte.jpg", class: "patte" %>
    <h1> TINPET</h1>
    <%= link_to 'Trouve ton match', new_user_session_path, class: "buton-log" %>
    <%= link_to 'Sign in', new_user_registration_path, class: "sign" %>
</div>

<%# <%= link_to "My chatrooms", matches_path, class: 'btn btn-primary mx-auto' %>
