
<div class="w-100 d-flex">
  <%= image_tag "patte2.jpg", class: "patte2"%>
</div>



<% @matches.each do |match| %>
  <%= link_to match_path(match), class: "text"  do %>

    <div class="card-product mb-1 crs dsgmsg">
      <div class="d-flex align-items-center">
        <%= cl_image_tag match.interlocutor_of(current_user).photos.first.key, class: "avatar-matches me-2 dsgavatar"%>
        <div>
          <div><h2 class='tt'><strong><%= match.interlocutor_of(current_user).name %></strong></h2></div>
          <div><%= match.interlocutor_of(current_user).age %> ans</div>
        </div>
      </div>


      <div class="card-product-info k ">
        <% if Message.find_by(user: match.interlocutor_of(current_user), match: match) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class ='d-flex align-items-center justify-content-center' style="height: 80vh;">
<h1 class="nomatch"><%= "Désolé, vous n'avez pas encore de matchs !" if @matches.length == 0 %></h1>
</div>
