
<div class="w-100 d-flex">
  <%= image_tag "patte2.jpg", class: "patte2"%>
</div>



<% @matches.each do |match| %>
  <%= link_to match_path(match), class: "text"  do %>
    <div class="card-product mb-1 crs">
      <%= cl_image_tag match.interlocutor_of(current_user).photos.first.key, class: "avatar"%>
      <div class="card-product-info k ">
       <h2 class='tt'> <%= match.interlocutor_of(current_user).name %> </h2>
        <% if Message.find_by(user: match.interlocutor_of(current_user), match: match) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class ='flexx'>
<h1 class="nomatch"><%= "Sorry you don't have a match yet!" if @matches.length == 0 %></h1>
</div>
