<%= image_tag "patte2.jpg", class: "patte2" %>
<div class="e">  <%= 'messages' if @matches.length > 0  %></div>
<%= form_tag matches_path, method: :get, class:"d-flex" do %>
  <%= text_field_tag :query, params[:query], placeholder: "Tape moi dessus grand fou ",  class:"me-2 searchbar" %>
  <button type="submit" class="btn-pink pos-front">  search </button>
<% end %>
<% @matches.each do |match| %>
  <%= link_to match_path(match), class: "text"  do %>
    <div class="card-product mb-1 crs">
      <%= cl_image_tag match.interlocutor_of(current_user).photos.first.key, class: "avatar"%>
      <div class="card-product-info k ">
       <h2 class='tt'> <%= match.interlocutor_of(current_user).name %> </h2>
        <% if Message.find_by(user: match.interlocutor_of(current_user), match: match) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class ='flexx'>
<h1 class="nomatch"><%= "Sorry you don't have a match yet!" if @matches.length == 0 %></h1>
</div>
