
<div class="w-100 d-flex">
  <%= image_tag "patte2.jpg", class: "patte2"%>
</div>

<h1 class="nomatch"><%= "Vos messages" if @matches.length > 0 %></h1>
<%= image_tag "loupe.jpg", class: "loupe", style: "margin-left: 0.5rem;" %>
<%= form_tag matches_path, method: :get, class:"d-flex", style: "margin-left: 1rem;" do %>
  <%= text_field_tag :query, params[:query], placeholder: "Rechercher #{@matches.length} Match " ,  class:"search" %>
  <button type="submit" class="d-none">  </button>
<% end %>

<% @matches.each do |match| %>
  <%= link_to match_path(match), class: "text"  do %>

    <div class="card-product mb-1 crs dsgmsg">
      <div class="d-flex align-items-center">
        <%= cl_image_tag match.interlocutor_of(current_user).photos.first.key, class: "avatar-matches me-2 dsgavatar"%>
        <div>
          <div><h2 class='tt'><strong><%= match.interlocutor_of(current_user).name %></strong></h2></div>
          <div class="gg">
              <% if Message.find_by(user: match.interlocutor_of(current_user), match: match) %>
            <p class='helllo'> <%= Message.where(user: match.interlocutor_of(current_user), match: match).last.content %> </p>

              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class ='d-flex align-items-center justify-content-center' style="height: 80vh;">
<h1 class="nomatch"><%= "Désolé, vous n'avez pas encore de matchs !" if @matches.length == 0 %></h1>
</div>
